html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.resultsContainer {
    margin-top:30px;
}

.companyTitleColour {
    color:green;
}

.liquidationRow {
    background-color: darkred;
    text-align: center;
}
.companyRow {
    border-bottom:1px silver solid;
    padding:10px;
}
.liquidationField {
    color: white;
    text-decoration: none;
    font-size: x-large;
}
    .liquidationField:hover {
        text-decoration: none;
        color: white;
    }

col {
    border:1px solid red;
}

.warning {
    color:red;
}
.dataContainer {
    margin-top:20px;
}