@model CHAP.Models.AdvancedSearch.AdvancedSearch
<div class="form-horizontal">
    <h1 class="companyTitleColour">Advanced Search</h1>
    <hr />
    <div class="container">
        <div class="form-group">
            <form asp-action="index" method="get">
                <div class="row">
                    <div class="col-md-3">
                        <select name="criteria" class="form-control">
                            <option value="">Select an option</option>
                            <option value="company_name_includes">Company Name Includes</option>
                            <option value="company_name_excludes">Company Name Excludes</option>
                            <option value="company_status">Company Status</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" placeholder="search value" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Search" class="btn btn-success" />
                    </div>
                </div>
                <div class="row companyRow-bottom"></div>
            </form>

            <div class="form-group resultsContainer contsinainer">

            </div>
        </div>
    </div>
</div>